<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>781616560611-pt0h5e29jvifmhgbo9m4uhnjubrrks8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781616560611-pt0h5e29jvifmhgbo9m4uhnjubrrks8c</string>
	<key>API_KEY</key>
	<string>AIzaSyAi2diaOgBxSWSry40MfkzrGb7k6FDjxUs</string>
	<key>GCM_SENDER_ID</key>
	<string>781616560611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>developer.llb.Verifica-Luca-Bonin</string>
	<key>PROJECT_ID</key>
	<string>verificaios</string>
	<key>STORAGE_BUCKET</key>
	<string>verificaios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781616560611:ios:02465a23a0b1caf2</string>
	<key>DATABASE_URL</key>
	<string>https://verificaios.firebaseio.com</string>
</dict>
</plist>